<ion-view view-title="{{ 'NAV_DASHBOARD' | translate }}" ng-controller="BoardCtrl as gc">
    <ion-content>

        <div class="list card" ng-repeat="post in gc.posts">
            <a ng-href="#/app/group/post/{{post._id}}">
                <div class="item item-avatar">
                    <img src="{{post.author_thumbnail}}">

                    <h2>{{post.title}}</h2>

                    <p>{{post.date}}</p>
                </div>

                <div class="item item-body">
                    <p>
                        {{post.content}}
                    </p>

                </div>
            </a>
            <div class="item tabs tabs-secondary tabs-icon-left">

                <p>
                    <a href="#" class="subdued">{{post.comments_length}} {{ 'GRP_COMMENTS' | translate }}</a>
                </p>

                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    {{ 'GRP_COMMENT' | translate }}
                </a>

            </div>

        </div>

    </ion-content>
</ion-view>
