<ion-view view-title="Documents" ng-controller="DocumentOverviewCtrl as doc">
    <ion-content>
        <div class="row">
            <button class="col button button-energized ion-plus button-small">
                Add Document
            </button>

            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search">
                </label>
            </div>

        </div>

        <div class="list card" ng-repeat="document in doc.documents">

            <a ng-href="#/app/group/post/{{post._id}}">
                <div class="item item-avatar">

                    <h2>{{document.name}}</h2>

                    <p>{{document.date}}</p>
                    <p>Uploader: {{document.uploader}}</p>
                </div>

                <div class="item item-body">
                    <p>
                        {{document.description}}
                    </p>

                </div>
            </a>
            <div class="item tabs tabs-secondary tabs-icon-left">

                <p>
                    <a href="#" class="subdued">{{post.comments_length}} {{ 'GRP_COMMENTS' | translate }}</a>
                </p>

            </div>
        </div>

    </ion-content>
</ion-view>
