<ion-view view-title="{{ 'DOC_DOCUMENTS' | translate }}" ng-controller="DocumentOverviewCtrl as doc">
    <div class="bar bar-subheader">
        <div class="row">
            <button class="col button button-energized ion-plus">
                Add Document
            </button>

            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search">
                </label>
            </div>
        </div>
    </div>
    <ion-content>
        <div class="list card" ng-repeat="document in doc.documents">
                <div class="item item-avatar">
                    <img src="{{document.icon}}">
                    <h2>{{document.name}}</h2>
                </div>
                <div class="item item-body">
                    <p>{{document.description}} {{document.date}} Uploader: {{document.uploader}}</p>
                </div>
        </div>
    </ion-content>
</ion-view>
