<ion-view view-title="groups" ng-controller="GroupCtrl as gc">
    <ion-content>
        <div class="list">

            <div class="item item-divider">
                Global
            </div>

            <a class="item" href="#">
                HTWG
            </a>

            <div class="item item-divider">
                Subscribed
            </div>


            <a ng-repeat="group in gc.myGroups" class="item" href="#">
                {{group.name}}
            </a>

            <div class="item item-divider">
                Suggested
            </div>

            <a class="item" href="#">
                Mathe 1
            </a>

            <a class="item" href="#">
                Mathe 2
            </a>


        </div>


    </ion-content>
    <div class="bar bar-footer">
        <div class="button-bar">
            <a class="button">First</a>
            <a class="button">Second</a>
            <a class="button">Third</a>
        </div>
    </div>

</ion-view>


