<ion-view view-title="groups">
    <ion-content>
        <div class="list">

            <div class="item item-divider">
                Global
            </div>

            <a class="item" href="#">
                HTWG
            </a>

            <div class="item item-divider">
                Subscribed
            </div>

            <a class="item" href="#">
                Digi
            </a>

            <a class="item" href="#">
                Prog
            </a>

            <div class="item item-divider">
                Suggested
            </div>

            <a class="item" href="#">
                Mathe 1
            </a>

            <a class="item" href="#">
                Mathe 2
            </a>


        </div>
    </ion-content>
</ion-view>
