<ion-view view-title="{{ 'GRP_OVERVIEW' | translate }}" ng-controller="GroupOverviewCtrl as gc">
    <ion-content>
        <div class="list">

            <div class="item item-divider">
                {{ 'GRP_GLOBAL' | translate }}
            </div>

            <a class="item" href="#">
                HTWG
            </a>

            <div class="item item-divider">
                {{ 'GRP_SUBSCRIBED' | translate }}
            </div>


            <a ng-repeat="group in gc.groups" class="item" ng-href="#/app/group/{{group._id}}/board">
                {{group.name}}
            </a>

            <div class="item item-divider">
                {{ 'GRP_SUGGESTED' | translate }}
            </div>

            <a ng-repeat="group in gc.suggestedGroups" class="item" href="#">
                {{group.name}}
            </a>


        </div>

        <div class="bar bar-footer">
            <div class="button-bar">
                <a class="button" ng-href="#/app/group/{{gc._ID}}/board">Board</a>
                <a class="button" ng-href="#/app/group/{{gc._ID}}/docs">Documents</a>
                <a class="button" ng-href="#/app/group/{{gc._ID}}/chats">Chats</a>
            </div>
        </div>
    </ion-content>
</ion-view>


