<ion-view view-title="Group" ng-controller="GroupCtrl as gc">
    <ion-content>

        <div class="list card" ng-repeat="post in gc.posts">

            <div class="item item-avatar">
                <img src="{{post.author_thumbnail}}">

                <h2>{{post.title}}</h2>

                <p>{{post.date}}</p>
            </div>

            <div class="item item-body">
                <p>
                    {{post.content}}
                </p>

            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">

                <p>
                    <a href="#" class="subdued">{{post.comments_length}} Comments</a>
                </p>

                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>

            </div>

        </div>

    </ion-content>
    <div class="bar bar-footer">
        <div class="button-bar">
            <a class="button">Chats</a>
            <a class="button">Documents</a>
            <a class="button">Board</a>
        </div>
    </div>
</ion-view>
