<ion-view view-title="Login" ng-controller="LoginCtrl as lc">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Mail">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password">
            </label>

        </div>

        <button class="login-button button button-energized" ng-click="lc.submit()">
            button-energized
        </button>
    </ion-content>
</ion-view>
