<ion-view view-title="Login" ng-controller="LoginCtrl as lc">
    <ion-content>
        <div class="login-view">
            <div class="login-elements">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="Mail">
                    </label>
                    <label class="item item-input">
                        <input type="password" placeholder="Password">
                    </label>
                </div>
                <div class="login-remember-me">
                    <ion-checkbox class="remember-me-checkbox">Remember me</ion-checkbox>
                </div>
                <div class="login-submit">
                    <button class="login-button button button-energized" ng-click="lc.submit()">
                        Log in
                    </button>
                </div>
                <div class="sign-up">
                    <a ng-click="lc.showSignupView()" href="#">New here? Sign up</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
