<ion-view view-title="{{'PRF_PROFILE' |translate}}" ng-controller="ProfileCtrl as pc">
    <ion-content>
        <div class="card">
            <div class="item item-divider"
            <h1>{{pc.surname + ' ' + pc.name}}</h1>
            </div>
            <img src="{{pc.picture}}">
            <div class="item item-text-wrap">
                <p class="ion-email"> {{pc.mail}}</p>
                <p>{{'PRF_MAJOR' |translate}}: {{pc.major}}</p>
                <p>Semester: {{pc.semester}}</p>
            </div>
        </div>
        <a class="button button-energized" href="/#/app/profileEdit">
            {{'PRF_EDIT' |translate}}
        </a>
    </ion-content>
</ion-view>
