.login-view {
    padding: 20px;
}

.remember-me-checkbox {
    border-style: none;
    margin-left: -15px;
}

.login-submit {
    margin-top: 10px;
}

.button-energized {
    width: 100%;
}

.sign-up {
    margin-top: 30px;
    text-align: center;
}
